body {
    font-family: 'Garamond', 'Georgia', serif;
    font-size: 18px;
}

div.content {
    margin: 0 auto;
    max-width: 800px;
}

div.menu {
    padding: 15px 0;
    text-align: center;
}

a, a:visited {
    color: #278;
}

div.footer {
    padding: 20px 5px;
    color: #444;
}

div.footer div.copyright {
    float: left;
}

div.footer a.rosedu-logo {
    display: inline-block;
    margin-top: 50px;
}

.home-page h2 {
    clear: right;
}

@media screen and (max-device-width: 500px) {
    h1 {
        font-size: 32px;
    }

    img.deco {
        display: none;
    }
}

@media screen and (min-device-width: 500px) {
    h1 {
        font-size: 42px;
        padding: 100px 0 50px;
    }
    h1, h2 {
        color: #444;
    }

    div.menu a {
        margin: 0 5px;
    }

    img.deco {
        display: block;
        margin: 25px;
        float: right;
    }
}
