body {
    font-family: 'Garamond', 'Georgia', serif;
    font-size: 18px;
}

div.content {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    padding: 100px 0;
}

a, a:visited {
    color: #278;
}

img.deco {
    display: block;
    margin: 25px;
}

div.home-page img.deco {
    float: right;
}

div.home-page h2 {
    clear: right;
}

div.mentors-page img.deco {
    float: right;
}
