body {
    font-family: 'Garamond', 'Georgia', serif;
    font-size: 18px;
}

div.content {
    margin: 0 auto;
    max-width: 800px;
}

div.menu {
    padding: 15px 0;
    text-align: center;
}

div.menu a {
    margin: 0 5px;
}

h1 {
    padding: 100px 0 50px;
}

a, a:visited {
    color: #278;
}

img.deco {
    display: block;
    margin: 25px;
    float: right;
}

.home-page h2 {
    clear: right;
}
