<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <title>{% unless page.is-home %}ROSEdu Hack Day &mdash;
        {% endunless %}{{ page.title }}</title>
   <link rel="stylesheet" href="{{ site.url }}/css/stylish.css">
   <script type="text/javascript" src="{{ site.url }}/js/tabs.js"></script>
   <link rel="stylesheet" href="{{ site.url }}/css/tabs.css"/>
   <meta name="viewport" content="width=device-width">
</head>

<body class="{{ page.body-class }}" onload="tabs_init();">
<div class="content">

{% if page.deco-image %}
<img src="images/{{ page.deco-image }}" class="deco">
{% endif %}

<h1>{{ page.title }}</h1>

<div class="menu">
  { <a href=".">calendar</a> ~
  <a href="descriere.html">descriere</a> ~
  <a href="mentori.html">mentori</a> ~
  <a href="meta.html">meta</a> }
</div>


<div class="page-content">
{{ content }}
</div>


<div class="footer">
  <div class="copyright">
    &copy; 2011
    <a href="http://www.rosedu.org/" class="rosedu-logo">
      <img src="images/rosedu.png" title="ROSEdu">
    </a>
  </div>
</div>

</div>

<script>
var _gaq=[['_setAccount', "UA-7579199-2"],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>

</html>
